<div class="container">
  <form action="<%= "/apikeys" %>" method="post">
    <div class="form-group">
      <label>Key</label>
      <input type="text" class="form-control" name="apikey[key]" value="<%= @key.key %>">
    </div>

    <div class="form-group">
      <label>Notes</label>
      <input type="text" class="form-control" name="apikey[notes]">
    </div>

    <div class="form-group">
      <label>Permissions</label>
      <select name="apikey[perms]">
        <% APIKey::PERMS.each do |p| %>
          <option value="<%= p %>"><%= p %></option>
        <% end %>
      </select>
    </div>

    <button type="submit" class="btn btn-default">Add</button>
  </form>
</div>
